/* Estilos generales */
*{
   margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    
  }
  
  header {
    background-color: #8b5d8e;
    color: #fff;
    margin: auto;
    padding: 20px 15%;
    text-align: center;
  }
  
  
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    text-align: center;
    font-family: Fantasy, sans-serif;
  }
nav{
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
nav > a {
  color:#f6f4f6;
  text-decoration: none;
  margin: 0 20px;
}

nav > a:hover {
  color: #f31264;
  border: 1px solid #b90950;
  border-radius: 5px;
  padding: 5px;
}

  main {
    padding: 20px 15%;
    background-color: #e7eef0;
    color: #0f0e0e;
  }
  
  img {
    max-width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgb(224, 10, 232);
  }
  img:hover {
    transform: scale(1.1); /* Aumenta el tamaño de la imagen en un 10% */
    border: 2px dashed blue; /* Establece un borde punteado de color azul */
  }
  .caja {
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    width: 70%;
    height: auto;
    background-color: rgb(231, 231, 231);
    padding: 10px;
    margin: 10px;
      
  }

  
  table {
    width: 100%;
    margin: 20px auto;
    background-color: #42e1f35e;
    text-align: center;
}

th, td {
    border-bottom: 8px solid #129f7e;
    padding: 16px;
}
  
  button {
    background-color: rgb(255, 179, 179);
    color: white;
    padding: 10px 20px;
    border: palegoldenrod;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  button:hover{
    background-color: #d569be;
  }
  audio {
    background-color: #F39C12;
    border-radius: 10px;
}
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  